body{
    height: 100%;
    width: 100%;
    overflow: hidden;
     justify-content: center;
    background-image: radial-gradient(midnightblue, cyan);
     font-family: 'Architects Daughter', cursive;
}
.t{
    text-align: center;
    justify-content: center;
    width: 40vw;
    align-items: center;
    padding-top: 8px;
    color: white;
    font-size: xx-large;
    text-shadow: 
        0.1em 0 0 rgba(255,0,0),
        -0.1em -0.05em 0 rgba(0,255,0),
        0.05em 0.05em 0 rgba(0,0,255);
        animation: t 450ms infinite;

}
@keyframes t{
    0%{
        text-shadow: 
        0.1em 0 0 rgba(255,0,0),
        -0.1em -0.05em 0 rgba(0,255,0),
        0.05em 0.05em 0 rgba(0,0,255);

    }
    25%{
        text-shadow: 
        -0.1em 0.05em 0 rgba(255,0,0),
        -0.1em 0.05em 0 rgba(0,255,0),
        0.05em -0.05em 0 rgba(0,0,255);

    }
    50%{
        text-shadow: 
        0.1em -0.05em 0 rgba(255,0,0),
        0.1em -0.05em 0 rgba(0,255,0),
        -0.05em 0.05em 0 rgba(0,0,255);

    }
    75%{
        text-shadow: 
        -0.05em -0.05em 0 rgba(255,0,0),
        0.05em 0.05em 0 rgba(0,255,0),
        0.1em -0.05em 0 rgba(0,0,255);

    }
    100%{
        text-shadow: 
        -0.1em -0.05em 0 rgba(255,0,0),
        0.1em 0.05em 0 rgba(0,255,0),
        -0.05em -0.05em 0 rgba(0,0,255);

    }
}
.head{
    
    height: 4vh;
    width: 50vw;
    display: flex;
    align-items: center;
    padding-left: 170px;    
    padding-bottom: 9px;
    background-image:radial-gradient(darkblue,cyan);
    margin-left: 240px;
    border-radius: 20px;
     
}
.head:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 30px yellow;
    transition-duration: 0.65s;
}
.calc{
    height: 55%;
    width: 25%;
    background-image: radial-gradient(dodgerblue);
    margin-top: 50px;
    margin-left: 75px;
    border-radius: 12px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5px;
   display: flexbox;   
   flex-wrap: wrap;
}
.calc:hover{
    box-shadow: 2px 2px 30px yellow;
    transition-duration: 0.65s;
    transform: scale(1.005);
}
.but{
    height: 10vh;
    width: 8vw;
    background-color: lightblue;
     display: flexbox;
     font-size: x-large;
     font-style: oblique;
     border-radius: 13px;
     flex-wrap: wrap;
     color: red;
     animation: glitch-skew 1s infinite linear alternate-reverse;
     position: relative;
}
.func{
    height: 55%;
    width: 25%;
    background-image: radial-gradient(dodgerblue);
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 13px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5px;
   display: flexbox;   
   flex-wrap: wrap;
   
}
.func:hover{
    box-shadow: 2px 2px 30px yellow;
    transition-duration: 0.65s;
    transform: scale(1.005);
}
.full{
    height: 58%;
    display: flex;
    animation: tr-bag 4s linear infinite;
}
.res{
    height: 55%;
    width: 25%;
    background-image: radial-gradient(dodgerblue);
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 12px;
   padding-left: 10px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 5px;
   display: flexbox;   
   flex-wrap: wrap;
}
.res:hover{
    box-shadow: 2px 2px 30px yellow;
    transition-duration: 0.65s;
    transform: scale(1.005);
}
.inp{
height: 30px;
width: 200px;
margin-right: 20px;
margin-top: 10px;
margin-bottom: 10px;
justify-content: center;
text-align: center;
font-size: larger;
margin-left: 10px;
border-radius: 10px;
background-color: lightblue;
color: crimson;

}
.la{
    font-size: xx-large;
    font-style: oblique;
    color: orangered;


}

  